.b {
    position: absolute;
    top: 11px;
    left: 14px;
    font-size: 14px;
}
.vectorIcon {
    position: absolute;
    height: 1.54%;
    width: 3.41%;
    top: 1.07%;
    right: 20.02%;
    bottom: 97.39%;
    left: 76.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon1 {
    position: absolute;
    height: 1.33%;
    width: 4.51%;
    top: 1.35%;
    right: 13.51%;
    bottom: 97.32%;
    left: 81.98%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ico4Child {
    position: absolute;
    top: 58px;
    left: 14px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 140px;
    height: 39px;
}
.ico4Item {
    position: absolute;
    top: 217px;
    left: 263px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
    height: 34px;
}
.ico4Inner {
    position: absolute;
    top: 381px;
    left: 261px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
    height: 34px;
}
.rectangleDiv {
    position: absolute;
    top: 546px;
    left: 261px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
    height: 34px;
}
.ico4Child1 {
    position: absolute;
    top: 707px;
    left: 261px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 130px;
    height: 34px;
}
.ico4Child2 {
    position: absolute;
    top: 57px;
    left: 245px;
    box-shadow: 0px 4px 4px 0.25px rgba(255, 235, 235, 0.25);
    border-radius: 10px;
    background-color: #434242;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    width: 172px;
    height: 40px;
}
.vectorIcon2 {
    position: absolute;
    height: 1.54%;
    width: 5.84%;
    top: 1.29%;
    right: 5.22%;
    bottom: 97.16%;
    left: 88.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vectorIcon3 {
    position: absolute;
    height: 3.06%;
    width: 6.61%;
    top: 0.54%;
    right: 4.84%;
    bottom: 96.4%;
    left: 88.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vectorIcon4 {
    position: absolute;
    height: 2.32%;
    width: 5.02%;
    top: 7.05%;
    right: 89.31%;
    bottom: 90.63%;
    left: 5.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon5 {
    position: absolute;
    height: 4.51%;
    width: 10.21%;
    top: 6.18%;
    right: 86.45%;
    bottom: 89.31%;
    left: 3.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.2;
}
.vectorIcon6 {
    position: absolute;
    height: 4.51%;
    width: 10.21%;
    top: 6.06%;
    right: 86.72%;
    bottom: 89.43%;
    left: 3.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wxyz {
    position: absolute;
    top: 68px;
    left: 76px;
    font-size: 14px;
    display: inline-block;
    width: 51px;
    height: 22px;
}
.connectWallet {
    position: absolute;
    top: 69px;
    left: 254px;
    font-size: 14px;
    display: inline-block;
    width: 135px;
    height: 22px;
}
.vectorIcon7 {
    position: absolute;
    height: 0.97%;
    width: 1.59%;
    top: 7.83%;
    right: 68.18%;
    bottom: 91.2%;
    left: 30.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vectorIcon8 {
    position: absolute;
    height: 1.64%;
    width: 4.91%;
    top: 7.79%;
    right: 5.72%;
    bottom: 90.57%;
    left: 89.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon9 {
    position: absolute;
    height: 0.13%;
    width: 0.28%;
    top: 8.55%;
    right: 6.81%;
    bottom: 91.32%;
    left: 92.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon10 {
    position: absolute;
    height: 0.68%;
    width: 4.09%;
    top: 7.37%;
    right: 6.54%;
    bottom: 91.95%;
    left: 89.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.goalNotSet {
    position: absolute;
    top: 223px;
    left: 272px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 131px;
    height: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goal50000 {
    position: absolute;
    top: 387px;
    left: 270px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 137px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goal20000 {
    position: absolute;
    top: 552px;
    left: 271px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 143px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.goal25000 {
    position: absolute;
    top: 713px;
    left: 270px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 151px;
    height: 17px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bovinverse {
    position: absolute;
    top: 212px;
    left: 108px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chirplay {
    position: absolute;
    top: 376px;
    left: 106px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.metacloud {
    position: absolute;
    top: 541px;
    left: 106px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inshape {
    position: absolute;
    top: 702px;
    left: 106px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 112px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.plateform {
    position: absolute;
    top: 239px;
    left: 109px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.marketplace {
    position: absolute;
    top: 403px;
    left: 107px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vr {
    position: absolute;
    top: 568px;
    left: 107px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockchainService {
    position: absolute;
    top: 729px;
    left: 107px;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt {
    position: absolute;
    top: 290px;
    left: 41px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt1 {
    position: absolute;
    top: 454px;
    left: 39px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt2 {
    position: absolute;
    top: 619px;
    left: 39px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.usdt3 {
    position: absolute;
    top: 780px;
    left: 39px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 160px;
    height: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress {
    position: absolute;
    top: 330px;
    left: 300px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress1 {
    position: absolute;
    top: 494px;
    left: 298px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress2 {
    position: absolute;
    top: 659px;
    left: 298px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.progress3 {
    position: absolute;
    top: 820px;
    left: 298px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated {
    position: absolute;
    top: 258px;
    left: 337px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated1 {
    position: absolute;
    top: 422px;
    left: 335px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated2 {
    position: absolute;
    top: 587px;
    left: 335px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.notRated3 {
    position: absolute;
    top: 748px;
    left: 335px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec {
    position: absolute;
    top: 278px;
    left: 359px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec1 {
    position: absolute;
    top: 442px;
    left: 357px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec2 {
    position: absolute;
    top: 607px;
    left: 353px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dec3 {
    position: absolute;
    top: 768px;
    left: 353px;
    font-weight: 500;
    display: inline-block;
    width: 68px;
    height: 16px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ellipseDiv {
    position: absolute;
    top: 210px;
    left: 35px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
    height: 56px;
}
.ico4Child3 {
    position: absolute;
    top: 374px;
    left: 33px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
    height: 56px;
}
.ico4Child4 {
    position: absolute;
    top: 539px;
    left: 33px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
    height: 56px;
}
.ico4Child5 {
    position: absolute;
    top: 700px;
    left: 33px;
    box-shadow: 0px 4px 9px rgba(255, 228, 228, 0.25);
    border-radius: 50%;
    background-color: #fff;
    width: 56px;
    height: 56px;
}
.b1 {
    position: absolute;
    top: 352px;
    left: 35px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
    width: 361px;
    height: 11px;
}
.b2 {
    position: absolute;
    top: 517px;
    left: 35px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
    width: 361px;
    height: 14px;
}
.b3 {
    position: absolute;
    top: 681px;
    left: 35px;
    font-size: 9px;
    letter-spacing: 0.29em;
    display: inline-block;
    font-family: 'Times New Roman';
    color: rgba(255, 255, 255, 0.53);
    width: 361px;
    height: 11px;
}
.ico4Child6 {
    position: absolute;
    top: 853.07px;
    left: 429px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
    background-color: #fff;
    width: 428px;
    height: 72px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.vectorIcon11 {
    position: absolute;
    height: 3.89%;
    width: 8.64%;
    top: 94.18%;
    right: 84.81%;
    bottom: 1.94%;
    left: 6.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.vectorIcon12 {
    position: absolute;
    height: 4.05%;
    width: 7.45%;
    top: 93.93%;
    right: 7.85%;
    bottom: 2.02%;
    left: 84.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon13 {
    position: absolute;
    height: 3.25%;
    width: 9.11%;
    top: 94.9%;
    right: 23.6%;
    bottom: 1.85%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon14 {
    position: absolute;
    height: 3.25%;
    width: 9.11%;
    top: 93.64%;
    right: 23.6%;
    bottom: 3.11%;
    left: 67.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon15 {
    position: absolute;
    height: 1.87%;
    width: 4.56%;
    top: 94.95%;
    right: 27.86%;
    bottom: 3.18%;
    left: 67.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon16 {
    position: absolute;
    height: 1.43%;
    width: 5.16%;
    top: 91.79%;
    right: 66.81%;
    bottom: 6.79%;
    left: 28.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.ico4Child7 {
    position: absolute;
    height: 1.08%;
    width: 2.34%;
    top: 91.58%;
    right: 68.22%;
    bottom: 7.34%;
    left: 29.44%;
    border-radius: 50%;
    background-color: #fff;
}
.icon {
    position: absolute;
    top: 844.07px;
    left: 78px;
    width: 119px;
    height: 77px;
    object-fit: cover;
}
.icon1 {
    position: absolute;
    top: 845.07px;
    left: 161px;
    width: 114px;
    height: 87px;
    object-fit: cover;
    cursor: pointer;
}
.ico4Child8 {
    position: absolute;
    top: 315px;
    left: 41px;
    border-radius: 10px;
    background-color: #434242;
    width: 348px;
    height: 8px;
}
.ico4Child9 {
    position: absolute;
    top: 479px;
    left: 39px;
    border-radius: 10px;
    background-color: #434242;
    width: 348px;
    height: 8px;
}
.ico4Child10 {
    position: absolute;
    top: 644px;
    left: 39px;
    border-radius: 10px;
    background-color: #434242;
    width: 348px;
    height: 8px;
}
.ico4Child11 {
    position: absolute;
    top: 805px;
    left: 39px;
    border-radius: 10px;
    background-color: #434242;
    width: 348px;
    height: 8px;
}
.ico4Child12 {
    position: absolute;
    top: 315px;
    left: 41px;
    border-radius: 10px;
    background-color: #fff;
    width: 130px;
    height: 8px;
}
.ico4Child13 {
    position: absolute;
    top: 479px;
    left: 39px;
    border-radius: 10px;
    background-color: #fff;
    width: 76px;
    height: 8px;
}
.ico4Child14 {
    position: absolute;
    top: 644px;
    left: 39px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
    height: 8px;
}
.ico4Child15 {
    position: absolute;
    top: 805px;
    left: 39px;
    border-radius: 10px;
    background-color: #fff;
    width: 155px;
    height: 8px;
}
.icon2 {
    position: absolute;
    top: 545px;
    left: 39px;
    width: 45px;
    height: 44px;
    object-fit: cover;
}
.icon3 {
    position: absolute;
    top: 712px;
    left: 44px;
    width: 32px;
    height: 35px;
    object-fit: cover;
}
.vectorIcon17 {
    position: absolute;
    height: 0.81%;
    width: 2.99%;
    top: 90.19%;
    right: 49.42%;
    bottom: 9%;
    left: 47.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vectorIcon18 {
    position: absolute;
    height: 1.3%;
    width: 3.27%;
    top: 13.07%;
    right: 54.67%;
    bottom: 85.64%;
    left: 42.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ico4Child16 {
    position: absolute;
    top: 126px;
    left: 428px;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 428px;
    height: 56px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.ico4Child17 {
    position: absolute;
    top: 138px;
    left: 148px;
    border-radius: 20px;
    background-color: #000;
    width: 159px;
    height: 33px;
}
.active {
    position: absolute;
    top: 145px;
    left: 16px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 19px;
}
.upcoming {
    position: absolute;
    top: 146px;
    left: 152px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 19px;
}
.ended {
    position: absolute;
    top: 146px;
    left: 294px;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 130.08%;
    display: flex;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 19px;
    cursor: pointer;
}
.vectorIcon19 {
    position: absolute;
    height: 1.47%;
    width: 4.21%;
    top: 16.23%;
    right: 31.07%;
    bottom: 82.3%;
    left: 64.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon20 {
    position: absolute;
    height: 1.47%;
    width: 4.21%;
    top: 15.66%;
    right: 31.07%;
    bottom: 82.87%;
    left: 64.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon21 {
    position: absolute;
    height: 0.84%;
    width: 2.1%;
    top: 16.25%;
    right: 33.04%;
    bottom: 82.91%;
    left: 64.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ico4Child18 {
    position: absolute;
    top: 187px;
    left: 0px;
    background-color: rgba(223, 220, 220, 0.71);
    width: 428px;
    height: 5px;
}
.ico4Child19 {
    position: absolute;
    top: 187px;
    left: 149px;
    background-color: #0048ff;
    width: 154px;
    height: 5px;
}
.bvt2Icon {
    position: absolute;
    top: 211px;
    left: 32px;
    width: 61px;
    height: 53px;
    object-fit: cover;
}
.icon4 {
    position: absolute;
    top: 380px;
    left: 40px;
    width: 42px;
    height: 43px;
    object-fit: cover;
}
.ico4 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 926px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #fff;
    font-family: Krub;
}

